Terrengting.sdf
ipch/planetarium-34e9da2a/teksturoglys-cb17a66c.ipch
Tekstur, Lys og Høydekart.sdf
Terrengting.opensdf
Terrengting.sln
Terrengting.suo
controls.txt
Debug/Planetarium.exe
Debug/Planetarium.ilk
Debug/Planetarium.pdb
Debug/TeksturOgLys.exe
Debug/TeksturOgLys.ilk
Debug/TeksturOgLys.pdb
kontroller.txt
